* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(Images/photo-1531736275454-adc48d079ce9.avif); 
}

#myName {
    position: absolute;
    align-items: center;
    top: 5em;
    left: 28%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-spacing: 10px;
    font-size: 4em;
    color: white;
    text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}

li, a, button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 60px;
}    

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #97e3f6;
}

button {
    padding: 9px 25px;
    background-color: rgb(5, 184, 229);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s; 
}

button:hover {
    background-color: rgba(2, 127, 158, 0.8);
}

#homepage {
    margin-right: 2em;
}